{% extends 'main/base.html' %}

{% block title %} Contact {% endblock %}


{% block class %} 
    background-img-contact
{% endblock %}


{% block content %}
<div class="contact-page">
    <section class="contact-info">
        <h2> CONTACT US</h2>
        <h4>TELEPHONE: <a href="tel:+96657263883764" style="color: blue;"> +966 572 638 83764</a> </h4>
        <h4>Email: <a href="mailto:exampl@gmail.com" style="color: blue;">exampl@gmail.com</a></h4>
        <address><h4>Address:</h4>
        123 King Fahd Road,<br>
        Riyadh, Saudi Arabia<br>
        Zip Code: 12345
        </address>
    </section>

    <section>
        <iframe class="my-loc" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14501.42861770337!2d46.6812928!3d24.68024635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ssa!4v1752338781570!5m2!1sen!2ssa" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>
{% endblock %}