
{% extends 'main/base.html' %}
{% block title %}
Contact Page
{% endblock %}

{% block content %}
<section class="contact-page">
    <div class="contact">
        <h3>CONTACT Us</h3>
        <br>
        <br>
        <h3>Telephone: <a href="tel:+966 57263883764">+966 57263883764 </a></h3>
        <h3>Email: <a href="mailto:info@realestate.com">info@realestate.com</a></h3>
        <br>
        <br>
        <h3> Address:</h3>
        <p> ANAS BIN MALIK, RIYADH</p>
        <p> BUILDING W-112</p>
        <p> SAUDI ARABIA</p>
    </div>
        <div class="map">
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.058484113919!2d46.7276688!3d24.8276735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd0007b2c915%3A0xa898d7d8a42fa5b0!2z2KjYp9ix2YMg2KfZgdmK2YbZitmI!5e0!3m2!1sen!2ssa!4v1752037965648!5m2!1sen!2ssa" 
            width="600" height="450" 
            allowfullscreen="" 
            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

</section>

{% endblock %}