* {
   padding: 0px;
   margin: 0px;

}


body.home-page {
  font-family: 'Phudu', 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  height: 100vh;
  background-image: url('../images/skyscraper-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #d8d6d6;
}


.Wrapper {
  padding: 2rem 4rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 80px;
  
}

.logo {
  grid-column: 1;
  justify-self: start;
  padding-left: 7rem;
  font-size: 3rem;
}

.center_nav {
  grid-column: 2;
  justify-self: center;
  display: flex;
  gap: 2rem;
  padding: 1.7rem 8rem;
  background-color: white;
  border-radius: 5rem;
  
}

a {
  color: black;
  text-decoration: none;
}

.sign_up{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
    padding: 4rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 10rem;
}


.btn{
  padding: 1rem 3rem;
  background-color: black;
  border-radius: 2rem;
}

.expolore{
    color: white;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fn{
    animation: fadeIn 2s ease-in-out;
    font-size: 80px;
}

footer{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 40px;
   
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    background-color: white;
    border-radius: 8rem;
    border: 20px solid white; 
    padding: 2rem 4rem;
    margin: -5rem auto 0 auto;
    width: 500px;
    box-shadow: 0 0 10px 1px rgb(220, 220, 220);
    
}

.icon-green{
    background-color: #c6eabf;
    color: #2eb910;
}

.icon-orange{
    background-color: #ebd5bc;
    color: #b8770d;
}

.icon-purple{
    background-color: #f1beed;
    color: #c80dc0;
}

.icon-blue{
    background-color: #b8bcef;
    color: #171bc6;
}

.all {
    color: #2eb910;
}

.hotel {
    color: #c80dc0;
}

.properties {
    color: #b8770d;
}

.villa {
    color: #171bc6;
}

body.contact_page{
  font-family: 'Phudu', 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  height: 100vh;
  background-image: url('../images/email.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #d8d6d6;
}

body.properties_page{
    
}

.number{
    color: blue;
}

.email{
    color: blue;
}

.contact_sides {
    display: flex;
    justify-content: space-around;
}

.contact {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.map iframe {
    border-radius: 2rem;
    width: 40rem;
}

.btn:hover {
    cursor: pointer;
}

.contact_us{
    margin-left: 9rem;
    margin-top: 2rem;
    font-size: 3rem
}

.properties_page{
  font-family: 'Phudu', 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #d8d6d6;
}

.properties_container {
    padding: 12rem 13.5rem;
}

.card_container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
}

.card {
    width: 30rem;
    border-radius: 2rem;
    background-color: #e2e1e1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 17rem;
    border-radius: 2rem 2rem 0 0;
}

.card h2 {
    padding: 15px;
    margin: 0;
    font-size: 1.5rem;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 15px 15px;
}

.btn2{
    padding: 10px 28px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1rem;
    font-weight: 400;
}