* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  min-height: 500px; 
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #d0ccc2;
  display: flex;
  justify-content: center;
}


.logo {
  font-weight: bold;
  font-size: 32px;
  padding-left: 60px;
  transition: color 0.5s ease, transform 0.5s ease;
}

.logo:hover {
  color: rgb(198, 2, 2);
  transform: scale(1.1);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent;
}

.nav-link {
  display: flex;
  gap: 30px;
  background: #f7f6f1;
  padding: 20px 60px;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.5s ease, color 0.5s ease; 
}

.nav-link a:hover {
  color: rgb(198, 2, 2) !important; 
  transform: scale(1.1);
  cursor: pointer; 
}

.nav-link a:active {
  color: rgb(184, 12, 12);
  transform: scale(1.1);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 60px;
}



.signup {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.material-symbols-outlined {
  cursor: pointer;
  font-size: 20px;
}

.material-symbols-outlined {
  font-size: 20px;
  cursor: pointer;
}

.home {
  background: url("/static/images/skyscraper.jpeg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
  color: black;
}


.home-text h1 {
  font-size: 80px;
  line-height: 1.2;
  animation: growIn 1.5s ease forwards;
  cursor: pointer;
}
.home-text h1:active {
  animation: none; 
  animation: growIn 1.5s ease forwards;
}

.home-text p {
  max-width: 400px;
  margin: 20px 0;
}

.home-text button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.categories {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 30px;
  padding: 12px 40px;
  border-radius: 50px;
  width: auto; 
}

.categories1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px 30px; 
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 50px;
  background: #f7f6f1;
  width: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.category {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.category.all {
  color: #4caf50;
}

.category.properties {
  color: #99833d;
}

.category.hotel {
    color: #be4b94;
     
}

.category.villa {
    color: #3f51b5;
     
}


.category span.all-icon{
font-size: 20px;
background-color:rgb(147, 195, 116,0.5);
border-radius: 50%;
padding: 10px;
margin: 5px;
}

.category span.prop-icon {
font-size: 20px;
background-color: rgb(182, 171, 98,0.5);
border-radius: 50%;
padding: 10px;
margin: 5px;
}
.category span.hotel-icon {
font-size: 20px;
background-color: rgb(218, 144, 202,0.5);
border-radius: 50%;
padding: 10px;
margin: 5px;
}
.category span.villa-icon{
font-size: 20px;
background-color: rgb(113, 94, 162,0.5);
border-radius: 50%;
padding: 10px;
margin: 5px;
}

.property {
  flex-grow: 1;   
  min-height: 100vh; 
  background-color: #eae4d4;
  padding: 120px 90px 80px 120px;
  box-sizing: border-box;
}

.section h2 {
  font-size: 20px;
  margin-top:20px;
  margin-bottom: 100px;

}

.property-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  width: 1000px;
  gap: 20px;
}

.property-card {
  background-color:  #d1cbba;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info p {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

.card-info button {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  background: url("/static/images/email.jpg") center;
  background-size: cover;
  flex-direction: row;
  height: 100vh;
}

.contact-info {
   max-width: 40%;
   margin-top: 200px;
   margin-left: 120px;
}

.contact-info h2 {
  margin-bottom: 1.5rem;
}

.contact-info p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.contact-info a {
  color: blue;
  text-decoration: underline;
}


.map-container {
  width: 55%;
  border-radius: 18px;
  overflow: hidden; 
  margin-top: 190px;
}
.mode-icon {
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.mode-icon {
  background-color: transparent;
  color: #888888;
}


.mode-icon.active {
  background-color: #ffffff; 
  color: #000000; 
}


html.dark .mode-icon.active {
  background-color: #444444; 
  color: #eeeeee; 
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
  .home {
    padding-left: 20px;
    text-align: center;
    justify-content: center;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .categories {
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


------------------

html.dark body {
  background-color: #121212 !important;
  color: #eee;
  background-image: none !important;
  transition: all 0.3s ease;
}


html.dark .home {
  background: url("/static/images/skyscraper-dark.jpg") center/cover no-repeat !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
  color: #eee;
}

html.dark .home-text h1 {
  color: #fff;
}

html.dark .home-text p {
  color: #ccc;
}

html.dark .nav-bar{
  color: #fff;
}
html.dark .signup{
  color: #fff;
}



html.dark .nav-link {
  background-color: #333333 !important;
  color: #fff;
  border-radius: 30px;
}

html.dark .nav-link a {
  color: #ffffff;
  border-radius: 30px;
}

html.dark .categories div {
  background-color:#333333 ;
  
}
html.dark .categories p {
  color:#f6f5f5 ;
  
}

html.dark .categories div:hover {
  background-color: #333;
}

html.dark .contact-section {
  color: #ffffff;
}

html.dark .contact-info h2 {
  color: #ffffff;
}

html.dark .contact-info a:hover {
  color: #1e90ff;
}

html.dark .map-container {
  border-radius: 10px;
  overflow: hidden;
}

html.dark .mode .active-icon {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
}

html.dark .mode .dark-icon {
  color: #aaa;

}

html.dark .footer {
  background-color:#474646 ; 
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

html.dark .property {
  background-color: #404040; 
  color: #ffffff; 
}

html.dark .section h2 {
  color: #0b0b0b; 
}

html.dark .card-info p {
  color: #111111; 
}

html.dark .card-info button {
  background-color: #000000; 
  color: #ffffff; 
}