{% extends 'base.html'%}
{% load static %}
{% block title%}
Contact Us
{% endblock%}


{% block wrap_class %}
contact_background
{% endblock %}


{% block main %}
<div class="contact-page">
    <h3>contact us</h3>
    <!-- Left side: Contact Info -->
    <div class="contact-info">
        <div class="info">Telephone: <a href="tel:+966537348135">+966 537348135</a></div>
        <div class="info">Email: <a href="mailto:alsofayan10@gmail.com">alsofayan10@gmail.com</a></div>
        <div class="info">Address:</div>
        <div class="info-address">
            ANAS BIN MALIK, RIYADH<br>
            BUILDING W-112<br>
            SAUDI ARABIA
        </div>
    </div>

    <!-- Right side: Map -->
    <div class="contact-map">
        <iframe 
            src="https://www.google.com/maps/embed?pb=..."
            allowfullscreen 
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>


    
{% endblock %}